<mat-sidenav-container class="layout-container" >

    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="layout-side-nav">
        <mat-toolbar color="primary">Logo</mat-toolbar>
        <ng-content select="[version]"></ng-content>

        <br>
        <a [routerLink]="['/articles']">articles</a>
        <br>
        <a [routerLink]="['/films']">films</a>
    </mat-sidenav>
  
    <mat-sidenav-content>
      
        <mat-toolbar color="primary">
            Header content {{count}}
            <button mat-icon-button color="accent" (click)="sidenav.toggle()" aria-label="Example icon button with a menu icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button color="accent" [matMenuTriggerFor]="menu" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>              
        </mat-toolbar>
        
        <ng-content select="[body]"></ng-content>

    </mat-sidenav-content>
  </mat-sidenav-container>
    
  